<script type="x/template" id="vue-cyt-finder">
    <div class="finder-component">

        <form action="/search?facets=20" method="post">
            <div class="box-select">

                <select name="category" id="f01" v-if="categories.length">
                    <option value="">{{ trans("Finder::Template.chooseCategory") }}</option>
                    <option v-for="(category, index) in categories"
                            :key="index"
                            :value="category.id"
                            @change="setCategory(category.id)">${ category.name }
                    </option>
                </select>

                <select name="name02" id="n02">
                    <option value="">Größe auswählen</option>
                    <option value="11">Größe</option>
                    <option value="21">Größe</option>
                    <option value="31">Größe</option>
                </select>
                <select name="name03" id="n03">
                    <option value="">Farbe auswählen</option>
                    <option value="12">Farbe</option>
                    <option value="22">Farbe</option>
                    <option value="32">Farbe</option>
                </select>
                <select name="name04" id="n04">
                    <option value="">Muster auswählen</option>
                    <option value="13">Muster</option>
                    <option value="23">Muster</option>
                    <option value="33">Muster</option>
                </select>
            </div>
            <div class="box-button">
                <button :disabled="items === 0">
                    <span id="countCarpets" v-text="items"></span>
                    {{ trans("Finder::Template.found") }}
                </button>
            </div>
        </form>

    </div>
</script>